{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
    <form method="POST" action="">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
            </tr>
        </thead>
        <tbody>
            {% for le_produit in produits %}
                {% if le_produit.id is defined %}
                    <tr>
                        <td>{{ le_produit.nom }}</td>
                        <td>{{ ( (le_produit.prix * le_produit.tva / 100) + le_produit.prix ) |number_format(2) }}</td>
                        <td>
                            {% set prixTtc = ( (le_produit.prix * le_produit.tva / 100) + le_produit.prix ) |number_format(2) %}
                            <select name="qte" class={{prixTtc}}>
                                {% set stock_restant = (le_produit.stockmaxcommande) - (le_produit.stockcommande) %}
                                    <option value="0" selected="selected"></option>
                                {% if stock_restant > 0 %}
                                    {% for i in 0.. stock_restant %}
                                        <option value="{{i}}" class="{{le_produit.prix}}">{{i}}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="epuise">Epuisé</option>
                                {% endif %}
                            </select>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="table-primary">
                <td>TOTAL</td>
                <td id="total">
                    {% if totalTtc is defined %}
                        <input class="inputTotal" name="totalttc" value="{{ totalTtc |number_format(2)}}">
                    {% else %}
                        0,00
                    {% endif %} €
                </td>
                <td id="quantity"> 
                    {% if totalQte is defined %}
                        {{ totalQte }}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>
        </tfoot>
    </table>
    <button type="submit" name="submit" class="btn btn-primary">Commander</button>
    </form>
{% endblock %}